/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.footer-basic {
    padding: 25px 0px 0px 0px;
    background-color: #ffffff;
    color: #4b4c4d;
}

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        .footer-basic ul a:hover {
            opacity: 1;
        }

    .footer-basic .social {
        text-align: center;
        padding-bottom: 25px;
    }

        .footer-basic .social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }

            .footer-basic .social > a:hover {
                opacity: 0.9;
            }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }


.mytransactions-text {
    color: green;
    font-weight: 700;
    font-family: cursive;
}

.dashboard-text {
    color: darkred;
    font-weight: 700;
    font-family: cursive;
}

.dashboard-credits-text {
    color: darkred;
    font-weight: 500;
    font-family: cursive;
}

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay_nohover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
}

.image__overlay.gift {
    color: orchid;
    font-family: cursive;
}

.image__overlay.transactions {
    color: #1c9e74;
    font-family: cursive;
}


.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.image__title {
    font-size: 2.5em;
    font-weight: bold;
    display: contents;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-open-message {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

    .btn-open-message:hover {
        background-color: #4CAF50;
        color: white;
    }

.btn-del-user {
    background-color: white;
    color: black;
    border: 2px solid #dc3545;
}

    .btn-del-user:hover {
        background-color: #dc3545;
        color: white;
    }


.pagination > li > a {
    background-color: white;
    color: forestgreen;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: white;
        background-color: forestgreen;
        border-color: forestgreen;
    }

.pagination > .active > a {
    color: white;
    background-color: forestgreen !Important;
    border: solid 1px forestgreen !Important;
}

    .pagination > .active > a:hover {
        color: white;
        background-color: forestgreen !Important;
        border: solid 1px forestgreen;
    }


.searchBar-text {
    color: forestgreen;
}

.btn-outline-secondary {
    color: forestgreen;
    border-color: forestgreen;
}

    .btn-outline-secondary:hover {
        color: white;
        background-color: forestgreen;
    }

.adminSearchBar-text {
    color: #0366d6;
}

.btn-outline-secondaryAdmin {
    color: #0366d6;
    border-color: #0366d6;
}

    .btn-outline-secondaryAdmin:hover {
        color: white;
        background-color: #0366d6;
    }

.successMessage {
    color: #e5583b;
    font-weight: 500;
    font-family: cursive;
}

.unsuccessMessage {
    color: #dc3545;
    font-weight: 500;
    font-family: cursive;
}

.adminDashboard {
    color: #0366d6;
    font-weight: 500;
    font-family: cursive;
}
