@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <h1 class="adminDashboard">Welcome to the CreditsAsGifts Admin Panel!</h1>
    <br />
    <p class="lead">Here is where you change the content of the site.</p>
    <br />
    <p class="lead">
        <a class="btn btn-info btn-lg" asp-area="" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
    </p>
</div>