@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b style="color:darkred">CreditsAsGifts</b>!</h1>
    <p class="lead">This is a WEB based system for sending of gifts in the form of online credits.</p>
</div>

<hr />

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/gift_of_giving.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The gift of giving</h5>
            <p class="card-text">Here every registered user is free to send gifts in the form of online loans.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/send_a_wish.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Send a wish</h5>
            <p class="card-text">In addition, he will have the opportunity to write a wish as a comment.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/one_click_away.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Few clicks away</h5>
            <p class="card-text"> All this can be done just by writing the phone number of the recipient with whom he registered in the system.</p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body text-dark">
                <h5 class="card-title">Register now and get 100 credits.</h5>
                <a href="#" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body text-dark">
                <h5 class="card-title">Login if you already have an account.</h5>
                <a href="#" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>
