@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b style="color:darkred">CreditsAsGifts</b>!</h1>
    <p class="lead">This is a WEB based system for sending of gifts in the form of online credits.</p>
</div>

<hr />

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/gift_of_giving.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold font-italic" style="color:darkred">The gift of giving</h5>
            <p class="card-text font-italic">Every registered user can send gifts in the form of online credits.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/send_a_wish.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold font-italic" style="color:green">Send a wish</h5>
            <p class="card-text font-italic">In addition, you will have the opportunity to send a wish as a comment.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/one_click_away.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title font-weight-bold font-italic" style="color:darkblue">Few clicks away</h5>
            <p class="card-text font-italic"> All this can be done just by writing the phone number of the recipient.</p>
        </div>
    </div>
</div>

<hr />

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Register now and get 100 credits.</h5>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Login if you already have an account.</h5>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        </div>
    </div>
}