@using CreditsAsGifts.Models.Privacy
@model PrivacyViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    @Html.Raw(Model.SanitizedContent)
</div>
