@{
    this.ViewData["Title"] = "Page not found";
}

<div class="container-fluid text-center">
    <img style="width:400px;" src="~/images/404.gif" />
    <p class="lead successMessage">The page you are looking for might have been removed<br /> had its name changed or is temporarily unavailable.</p>
    <p class="lead successMessage">
        <a class="btn btn-info btn-lg" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
    </p>
</div>