<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @UserNavPages.UserNavClass(ViewContext)" asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a></li>
    <li class="nav-item"><a class="nav-link @TransactionNavPages.TransactionNavClass(ViewContext)" asp-area="Administration" asp-controller="Transactions" asp-action="Index">Transactions</a></li>
</ul>